<?xml version="1.0"?>

<model>
  <name>Iris Model</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Andrew Willis</name>
    <email>arwillis@charlotte.edu</email>
  </author>

  <maintainer email="arwillis@charlotte.edu">Andrew Willis</maintainer>

  <description>Quadcopter model for the 3DR Iris</description>
</model>
