<?xml version="1.0"?>
<model>
  <name>Simple Quadrotor Model</name>
  <version>1.0</version>
  <sdf version='1.6'>uav.sdf</sdf>

  <author>
   <name>Andrew Willis</name>
   <email>arwillis@charlotte.edu</email>
  </author>

  <description>
    This is a simple model of a quadrotor.
  </description>
</model>
